// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  background: $gray-200;
  color: $gray-800;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.5rem;
}

p a {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  justify-content: center;
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $primary;
    }
  }
  .linkedin-container {
    background: #0e72b0;
  }
  .github-container {
    background: $black;
  }
  .mail-container {
    background: $red;
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.resume-item {
  display: inline-block;
}

.resume-content {
  background: #fff;
  padding: 1.5rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 2px #000;
  box-shadow: 0 0 2px #000;
  height: auto;
}

.resume-content{
  .fab {
    margin: 0 0.125rem;
  }
  .fa-bootstrap {
    color: #563d7b;
  }
  .fa-sass {
    color: #CF639A;
  }
  .fa-js-square {
    color: #FBDE33;
  }
  .fa-vuejs {
    color: #41B883;
  }
  .fa-python {
    color: #346D9C;
  }
  .fa-css3-alt {
    color: #1076BC
  }
  .fa-ubuntu {
    color: #E95421;
  }
  .detail {
    padding-left: 0.5rem;
    font-size: 1.5rem;
    font-weight: 100;
  }
}