@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i");
@import url("https://fonts.googleapis.com/css?family=Share&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rock+Salt&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-top: 54px;
  background: #e9ecef;
  color: #343a40;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Share", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 3rem !important;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
  padding-left: 0.75rem;
}

h3 {
  font-size: 2rem;
}

h3 a, span a {
  text-decoration: underline;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  font-weight: 500;
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.5rem;
}

p a {
  text-decoration: underline;
}

section#home {
  display: flex;
  align-items: center;
}
section#home .w-100.w-100 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  min-height: 100vh;
}

.lead:first-of-type::first-letter {
  font-family: "Share", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  line-height: 2rem;
}

.lead {
  line-height: 2rem;
}

.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}
.social-icons a:last-child {
  margin-right: 0;
}
.social-icons a:hover {
  background-color: #1B4C2D;
}
.social-icons .linkedin-container {
  background: #0e72b0;
}
.social-icons .github-container {
  background: #000;
}
.social-icons .mail-container {
  background: #dc3545;
}

.dev-icons {
  font-size: 3rem;
}
.dev-icons .list-inline-item i:hover {
  color: #1B4C2D;
}

#about.w-100 {
  margin: 1rem !important;
}

.education-content {
  width: 100%;
}
.education-content .university {
  display: inline-block;
}
.education-content p {
  margin: 0;
}
.education-content .date-range {
  font-size: 1.375rem;
  float: right;
}

@media only screen and (max-width: 992px) {
  span.text-primary.date-range {
    width: 100%;
  }
}
#sideNav {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
#sideNav .navbar-brand {
  font-family: "Share", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-family: "Rock Salt";
}
#sideNav #navbarSupportedContent {
  transition: 1s;
}
#sideNav .hide {
  display: none;
}
#sideNav .show {
  display: block;
}
#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
#sideNav .navbar-toggler:focus {
  outline-color: #2f844e;
}

@media (min-width: 992px) {
  #navbarSupportedContent {
    transition: none;
  }

  #sideNav {
    border-bottom: none;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}
section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}
section.resume-section .resume-item {
  display: inline-block;
}
section.resume-section .resume-item .resume-content {
  height: auto;
}
section.resume-section .resume-item .resume-content .fab {
  margin: 0 0.125rem;
}
section.resume-section .resume-item .resume-content .fa-bootstrap {
  color: #563d7b;
}
section.resume-section .resume-item .resume-content .fa-sass {
  color: #CF639A;
}
section.resume-section .resume-item .resume-content .fa-js-square {
  color: #FBDE33;
}
section.resume-section .resume-item .resume-content .fa-vuejs {
  color: #41B883;
}
section.resume-section .resume-item .resume-content .fa-python {
  color: #346D9C;
}
section.resume-section .resume-item .resume-content .fa-css3-alt {
  color: #1076BC;
}
section.resume-section .resume-item .resume-content .fa-ubuntu {
  color: #E95421;
}
section.resume-section .resume-item .resume-content .fa-gulp {
  color: #cf4647;
}
section.resume-section .resume-item .resume-content .fa-react {
  background: #000000;
  color: #61dafb;
  border-radius: 4px;
}
section.resume-section .resume-item .resume-content .detail {
  padding-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 100;
}
section.resume-section .resume-item .resume-date {
  min-width: none;
}

.card {
  background: #fffdfc;
  padding: 1.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 2px #000;
  box-shadow: 0 0 2px #000;
}

@media (min-width: 768px) {
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  section.resume-section .resume-content p {
    min-height: 15rem !important;
  }
}
@media (min-width: 1140px) {
  section.resume-section .resume-content p {
    min-height: 12.5rem !important;
  }
}
@media (min-width: 1280px) {
  section.resume-section .resume-content p {
    min-height: 9rem !important;
  }
}
.bg-primary {
  background-color: #1B4C2D !important;
}

.text-primary {
  color: #1B4C2D !important;
}

a {
  color: #1B4C2D;
}
a:hover, a:focus, a:active {
  color: #07140c;
}

/*# sourceMappingURL=resume.css.map */
