section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
  .resume-item {
    display: inline-block;
    .resume-content {
      height: auto;

      .fab {
        margin: 0 0.125rem;
      }
      .fa-bootstrap {
        color: #563d7b;
      }
      .fa-sass {
        color: #CF639A;
      }
      .fa-js-square {
        color: #FBDE33;
      }
      .fa-vuejs {
        color: #41B883;
      }
      .fa-python {
        color: #346D9C;
      }
      .fa-css3-alt {
        color: #1076BC
      }
      .fa-ubuntu {
        color: #E95421;
      }
      .fa-gulp {
        color: #cf4647;
      }
      .fa-react {
        background: #000000;
        color: #61dafb;
        border-radius: 4px;
      }
      .detail {
        padding-left: 0.5rem;
        font-size: 1.5rem;
        font-weight: 100;
      }
    }
    .resume-date {
      min-width: none;
    }
  }
}
.card {
  background: #fffdfc;
  padding: 1.5rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 2px #000;
  box-shadow: 0 0 2px #000;
}
@media (min-width: 768px) {
  section.resume-section {
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
}